.btn-primary{
    background-color:#1e40af;
    border-color:#1e40af;
}

.btn-primary:hover{
    background-color:#1e40af;
    border-color:#1e40af;
}

.titulo-sima{
    color:#1e40af;
    font-weight:600;
}