<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Clientes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="bg-light">

<div class="container py-5">



    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1 class="titulo-sima mb-0">SIMA</h1>

        <div class="d-flex gap-2">

            <a href="/dashboard" class="btn btn-primary">
                Menú
            </a>



            <a href="/anuncios/nuevo" class="btn btn-primary">
                Anuncio
            </a>
            <a href="/anuncios/lista" class="btn btn-primary">
                Lista de anuncio
            </a>



            <a href="/envio" class="btn btn-primary">
                Enviar
            </a>

        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">

        <h3 class="mb-0">Lista de Clientes</h3>

        <a href="/clientes/nuevo" class="btn btn-primary">
            Agregar Cliente
        </a>

    </div>



    <div class="card shadow-sm">

        <div class="card-body">

            <table class="table table-striped table-hover mb-0">

                <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.correo}"></td>
                    <td th:text="${cliente.telefono}"></td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>